@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
}

@keyframes pulse-fast {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.15);
  }
}

@utility animate-pulse-fast {
  animation: pulse-fast 1.5s ease-in-out infinite;
}
